body {
	background-color: #b2d5d1;
	font-family: sans-serif;
	text-align:center
}

main {
	background-color: white;
	width: 80%;
	margin:auto;
}

h1 {
	font-weight: normal;
}

p {
	padding-top: 30px;
}

.labels {
	display: inline-block;
	text-align: right;
	width: 40%;
	padding: 5px;
	vertical-align: top;
	margin-top: 10px;
}

.right-tab {
	display: inline-block;
	text-align: left;
	width: 48%;
	vertical-align: middle;
}

.input-field {
	height: 20px;
	width: 280px;
	padding: 5px;
	margin: 10px;
	border: 1px solid #c0c0c0;
	border-radius: 2px;
}