body {
	background-color: #b2d5d1;
	font-family: sans-serif;
	text-align:center
}

main {
	background-color: white;
	width: 80%;
	margin:auto;
}

h1 {
	font-weight: normal;
}

p {
	padding-top: 30px;
}